  *{
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  

header img{
  height: 450px; 
  width: 100%;
}


header{
  max-width: 100%;
}

.bg{
  background: rgb(233, 229, 223);
}

/* This will make the navbar stay in place even page is scrowled is scrolled up and down */
.fixed-top{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    left:0;
    right:0;
}
/* ends here */

.bg-info{
  background: black;

}

.bg-color{
  background: rgb(46, 40, 40);
}

.bg_color{
  background: rgb(206, 203, 203);
}

.navbar a{
    color: white;
}

h1{
  background: rgb(251, 252, 252);
}

.footer {
  margin-left: 50px;
  margin-right: 100 px;
  padding: 0 20px;
}