<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Fortfolio</title>
</head>


<body class="bg">

    <section class=" container p-0 section-bg">

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" >
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Drissa Bagate</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
           
            <ul class="navbar-nav ">
              <li class="nav-item ">
                <a class="nav-link active " aria-current="page" href="../templates/portfolio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/contact.html">Contact</a>
              </li>
              
            </ul>
          </div>
        </div>
        
      </nav>

      <section class=" container p-0 col-12 mt-auto">
        <div class="row">
          <div class="text-center  h-100 justify-content-center align-items-center"><h1>My Portfolio</h1></div>
        </div>
      </section>

      <article class=" container col-md-12 ">
        <div class="row">
          <div class="text-center h-100  justify-content-center align-items-center"><h3>My Projects</h3></div>
        </div>
        <div class="row">
          
          <div class="card  col-sm-6 p-0 ">
            <img class=" img-fluid image-size"
              src="../images/Capture.PNG"
              class="card-img-top"
              alt="My project Profile"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">Js Api: Park Buddy Project</h5>
              <p class="card-text">
               This Project is to allow users to use their device and with just click, they will get an automatic 
               listing of all nation parks in the State they live.  
              </p>
              <a href="https://brylara.github.io/Project1/" class="btn btn-primary">View Live Site</a>
              <a href="https://github.com/BRYLARA/Project1" class="btn btn-primary">View Code</a>
            </div>
          </div>

          <div class="card col-sm-6 p-0 " >
            <img class=" img-fluid image-size"
              src="../images/weatherApp.PNG"
              class="card-img-top"
              alt="My weather App"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">Js Api: My Weather App</h5>
              <p class="card-text">
              A pure javaScript api fetch Application that will let people input the city of their choice and 
              receive the current and a 5 days weather forecast. 
              </p>
              <a href="https://lemanou7.github.io/weatherApp/" class="btn btn-primary">View Live Site</a>
              <a href="https://github.com/lemanou7/weatherApp" class="btn btn-primary">View Code</a>
            </div>
          </div>

        </div> 

      </article>


      <article class=" container col-md-12 ">
        <div class="row">
          
          <div class="card  col-sm-6 p-0 ">
            <img class=" img-fluid image-size"
              src="../images/Cap2.PNG"
              class="card-img-top"
              alt="Blog post Profile"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">Python-Django Project</h5>
              <p class="card-text">
              A blog post that a created using python language and a Django backend to power and dynamic news 
              broacast website with a strong user management portal.
              </p>
              <a href="https://grandbuzz.herokuapp.com/" class="btn btn-primary">View Live Site</a>
              <a href="https://github.com/lemanou7/grand_buzz" class="btn btn-primary">View Code</a>
              
            </div>
          </div>

          <div class="card col-sm-6 p-0 " >
            <img class=" img-fluid image-size"
              src="../images/passwordGen.jpg"
              class="card-img-top"
              alt="Password Gen App"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">JavaScript Password Generator</h5>
              <p class="card-text">
              This Project is to allow users to generate they passeword by choosing the number of uppercase, lowercase
              and special characters their like.
              </p>
              <a href="https://lemanou7.github.io/myPasswordGenerator/" class="btn btn-primary">View Live Site</a>
              <a href="https://github.com/lemanou7/myPasswordGenerator" class="btn btn-primary">View Code</a>
            </div>
          </div>

        </div> 

      </article>


      <article class=" container col-md-12 ">
        <div class="text-center h-100  justify-content-center align-items-center"><h3>My Social medias</h3></div>
        <div class="row">
          
          <div class="card  col-sm-6 p-0 ">
            <img class=" img-fluid image-size"
              src="../images/github-1.PNG"
              class="card-img-top"
              alt="My Github Profile"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">My Github</h5>
              <p class="card-text">
                Here is the link of my Github in case, you want to see more about my activities. 
              </p>
              <a href="https://www.facebook.com/LemanouPrestigeDORE" class="btn btn-primary">view</a>
            </div>
          </div>

          <div class="card col-sm-6 p-0 " >
            <img class=" img-fluid image-size"
              src="../images/linkedin-1.PNG"
              class="card-img-top"
              alt="My Linkedin Profile"
              
            />
            <div class="card-body cardbody">
              <h5 class="card-title">My Linkedin</h5>
              <p class="card-text">
               This is my Linkedin Profile where you can see some of my skills and resume.
              </p>
              <a href="https://www.linkedin.com/in/bagatedrissa/" class="btn btn-primary">View</a>
              
            </div>
          </div>

        </div> 

      </article>


      <footer class=" footer footer-dark bg-dark d-block mx-auto  py-2"> 
        <div class="container text-white text-center ">
          <span><small>Copyright &copy; 2021 Lemanou Prod LLC - All rights reserved.</small></span>
        </div>
      </footer>

    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
