<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Fortfolio</title>
</head>


<body class="bg">

    <section class=" container p-0">

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" >
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Drissa Bagate</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
           
            <ul class="navbar-nav ">
              <li class="nav-item ">
                <a class="nav-link active " aria-current="page" href="../templates/portfolio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/contact.html">Contact</a>
              </li>
              
            </ul>
          </div>
        </div>
        
      </nav>

      <section class="section_2 container p-0 col-12 mt-auto">
        <div class="row">
          <div class="text-center  h-100 justify-content-center align-items-center"><h1>My Portfolio</h1></div>
        </div>
      </section>

      <article class=" col-md-12">
        <div class="row">
          <div class="card col-sm-6 ">
            <img class=" img-fluid"
              src="/images/profil-facebook.JPG"
              class="card-img-top"
              alt="My Facebook Profile"
            />
            <div class="card-body">
              <h5 class="card-title">My Facebook</h5>
              <p class="card-text">
                Here is the link of my facebook where you can see some of my real life interactions. 
              </p>
              <a href="https://www.facebook.com/LemanouPrestigeDORE" class="btn btn-primary">view</a>
            </div>
          </div>

          <div class="card col-sm-6 ">
            <img class=" img-fluid"
              src="/images/profil-linkedin.JPG"
              class="card-img-top"
              alt="My Linkedin Profile"
            />
            <div class="card-body">
              <h5 class="card-title">My Linkedin</h5>
              <p class="card-text">
                One of the raison why i'm taking this bootcamp is to learn, create a professional and attractive linkedin
                profile that will help me show up my skill.Please go take a look at my profile.
              </p>
              <a href="https://www.linkedin.com/in/bagatedrissa/" class="btn btn-primary">View</a>
            </div>
          </div>
          
        </div>
        
        
      </article>

    
    </section>


    

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
